@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-light-gradient dark:bg-dark-gradient;
  @apply text-dark-text dark:text-light-text;
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgb(var(--background-color)) inset;
  box-shadow: 0 0 0px 1000px rgb(var(--background-color)) inset;
}
input::after,
input::before {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
